#btn {
    background: lightgreen;
    color: white;
    border: 2px solid darkgreen;
    font-size: 20px;
    height: 40px;
    width: 250px;
}


div#sprzedaz,
div#kupno {
    position: relative;
    border-bottom: 1px solid black;
    height: 40px;
    width: 150px;
    text-align: center;
    display: inline-block;
    line-height: 70px;


}

div.stan {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 40px;

    line-height: 40px;
}

.fas {
    position: absolute;
    left: 5px;
    top: 20px;
    width: 40px;
    height: 40px;
    font-size: 20px;
    line-height: 10px;
    visibility: hidden;
    text-align: center;

}

.down {
    color: red;
    position: absolute;
    visibility: visible;


}


.up {
    color: green;
    position: absolute;
    visibility: visible;
}


.brak {
    color: blue;
    position: absolute;
    visibility: visible;
}
