html,
body {
    margin: 0;
    padding: 0;
}


* {
    background-size: cover;
    box-sizing: border-box;
}

#slider {
    position: relative;
    overflow: hidden;
    height: 600px;
}

.slide-show {
    position: absolute;
    height: 100%;
}

.single-slide {
    position: absolute;
    top: 0;
    bottom: 0;
}

img {
    height: 100%;
    width: 100%;
}

.slide-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 5;
    color: white;
    font-size: 4em;
}



.slider-arrows button {
    position: absolute;
    transform: translateY(-50%);
}



.fa {
    font-size: 30px;
}


.slider-arrows button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 6;
}

.prev-slide {
    left: 0;

}

.next.slide {
    right: 0;

}
