* {
    transition: all 4s linear;
}



#obraz {
    width: 650px;
    height: 350px;
    background: url('../img/jezioro.jpg');
    padding: 10px red;
    border: 5px solid white;
}

#obraz:hover {
    outline: 6px solid black;
}

#napis {
    position: relative;
    top: 40%;
    font-size: 20px;
    width: 102%;
    height: 10%;
    background-color: black;
    opacity: 0;
    text-align: center;
    color: white;
    margin-left: -1%;
    margin-right: 101%;
}

#napis:hover {
    opacity: 0.85;
    font-size: 55px;
    height: 18%;
}


