@mixin contact {
    background-image: url("../img/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 700px;
    padding-top: 30px;

}


@mixin my-footer {
    background-color: $gray-color;
    height: auto;
    ;
}

@mixin form {
    background-color: $blue-color;
    height: auto;
    width: auto;
    position: absolute;
    font-size: 0.8em;
}
