/*screen > 1170 px*/

@media(min-width:1171px) {
    #my-header {
        background-image: url("../img/man-1.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        max-height: 100vh;
    }

    #header-content h1,
    #header-content h2 {
        color: white;
        position: relative;
        left: 10%;
    }

    #header-content h1 {
        margin-top: 3%;
    }

    #header-content h2 {
        margin-top: 45%;
    }
}




/*screen < 1170 px*/

@media(max-width:1170px) {
    #my-header {
        background-image: url("../img/man-2.jpg");
        background-repeat: no-repeat;
        max-height: 70vh;
        background-size: cover;

    }

    #header-content h1,
    #header-content h2 {
        color: white;
        position: relative;
        left: 110%;
    }

    #header-content h1 {
        margin-top: 5%;
    }

    #header-content h2 {
        margin-top: 20%;
    }
}




/*screen < 992 px*/

@media(max-width:992px) {
    #my-header {
        background-image: url("../img/man-1.jpg");
        background-repeat: no-repeat;
        text-align: center;
        background-position: center;
        max-height: 50vh;
        background-size: cover;
    }

    #header-content h1,
    #header-content h2 {
        color: black;
        position: absolute;
        left: 20%;
        top: 30px;
        width: 80vw;
    }
    #header-content h1 {
        margin-top: 30px;
    }

    #header-content h2 {
        margin-top: 5px;
    }
    #header-content {
        top: 47vh;
    }
