#productlist {
    width: 100%;
}


@media(min-width: 993px) {
    .product {
        width: 22.7%;
    }
}


@media(max-width: 992px) {
    .product {
        width: 47.7%;
    }
}


@media(max-width: 768px) {
    .product {
        width: 47.6%;
    }
}


@media(max-width: 480px) {
    .product {
        width: 98%;
    }
}
